# Python
.cache
*.egg-info
.eggs/
__pycache__
*.py[cod]
.tox
.coverage
.pytest_cache
# Django
db.sqlite3
# Sphinx
docs/source/_build
# yarn
node_modules
yarn.lock
yarn-error.log
package-lock.json
__javascript__/

