.MDCField {
  margin-top: 32px;
  margin-bottom: 32px;
}
.MDCVerticalMargin {
  margin-top: 18px;
  margin-bottom: 18px;
}
.MDCErrorListItem {
  list-style-type: none;
}
.MDCErrorList {
  padding-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--mdc-typography-caption-font-size, 0.75rem);
  color: var(--mdc-theme-error, #b00020);
}
.MDCHelpText {
  font-size: var(--mdc-typography-caption-font-size, 0.75rem);
  color: rgba(0, 0, 0, 0.6);
  padding-left: 10px;
}
.arrow {
  animation: rotate 0.4s ease-out;
  --webkit-animation: rotate 0.4s ease-out; }

.arrow.right {
  transform: rotate(-45deg);
  --webkit-transform: rotate(-45deg); }

.arrow.down {
  transform: rotate(45deg);
  --webkit-transform: rotate(45deg); }

@media (max-width: 700px) {
  .MDCDataTableResponsive thead {
    display: none; }
  .MDCDataTableResponsive tr {
    display: block; }
  .MDCDataTableResponsive td {
    display: block;
    text-align: right;
    height: auto; }
  .MDCDataTableResponsive td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold; } }

.ToggleNextElement svg {
  transition: all 0.5s ease;
}
.ToggleNextElement.open svg {
  transform: rotate(180deg);
}
.MDCFilterField h3 {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .MDCDataTablePagination [slot] {
    display: block; } }

.InlineForm {
  display: inline-block;
}
.InlineForm .MDCField {
  display: inline-block;
}
.switch-field .inner-switch-field {
  display: flex;
  flex-flow: row; }

.switch-field label {
  margin-right: 32px; }

.mdc-select-multiple {
  display: flex;
  flex-flow: column wrap;
  gap: 8px; }
  .mdc-select-multiple .select-multiple-option {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    gap: 8px; }

select-widget input {
  border: 0;
  outline: 0; }

select-widget input:focus {
  outline: none !important; }
