@media (max-width: 700px) {
  .MyComponent .hidden {
    display: none; } }

.MyComponent {
  padding: 0;
}
.MyComponent p {
  margin: 0;
}
.MyComponent p ul {
  list-style-type: none;
}
.MyComponent:hover {
  margin: 10px;
}
.OtherComponent {
  margin: 0;
}